---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		
		<h1>About Me</h1>
		<h2>Welcome to my new Astro site!</h2>
		<p>I am learning Astro using a tutorial</p>
		<p>Meow meow meow meow meow</p>
		<p>Hi purdue hackers ppl</p>
	</body>
</html>
